<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="auto">

    <uses-sdk tools:overrideLibrary="com.android.billingclient,com.google.android.gms.common" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="32" tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.type.pc"
        android:required="false" />

    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN" />
        </intent>
    </queries>

    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />
        
    <application
        android:name="fulguris.App"
        android:allowBackup="true"
        android:banner="@drawable/tv_banner"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="false"
        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/Theme.App.Black">

        <meta-data android:name="android.max_aspect" android:value="3.0" />
        <meta-data
            android:name="com.google.android.tv.region"
            android:value="true" />
        <meta-data android:name="android.min_aspect" android:value="1.0" />

        <activity android:name="fulguris.activity.SplashActivity"
            android:theme="@style/Theme.App.SplashScreen"
            android:resizeableActivity="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.APP_BROWSER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="android.webkit.WebView.MetricsOptOut"
            android:value="true" />

        <activity
            android:name="fulguris.activity.MainActivity"
            android:alwaysRetainTaskState="true"
            android:clearTaskOnLaunch="false"
            android:colorMode="wideColorGamut"
            android:resizeableActivity="true"
            android:supportsPictureInPicture="true"
            android:configChanges="locale|orientation|screenSize|screenLayout|smallestScreenSize|keyboardHidden|keyboard"
            android:launchMode="singleTask"
            android:theme="@style/Theme.App.DayNight"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:scheme="file" />
                <data android:scheme="inline" />
                <data android:scheme="about" />
                <data android:scheme="javascript" />
                <data android:scheme="fulguris" />
                <data android:mimeType="text/html" />
                <data android:mimeType="text/plain" />
                <data android:mimeType="application/xhtml+xml" />
                <data android:mimeType="application/vnd.wap.xhtml+xml" />
                <data android:mimeType="application/x-webarchive-xml" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.WEB_SEARCH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.PROCESS_TEXT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>

            <intent-filter>
                <action android:name="info.guardianproject.panic.action.TRIGGER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
                <data android:mimeType="text/x-uri" />
            </intent-filter>
            
            <intent-filter>
                <action android:name="fulguris.action.OPEN_CONFIGURATION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            
            <intent-filter>
                <action android:name="fulguris.action.CLOSE_TAB" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="fulguris.action.CLOSE_ALL_TABS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="fulguris.activity.IncognitoActivity"
            android:alwaysRetainTaskState="true"
            android:colorMode="wideColorGamut"
            android:resizeableActivity="true"
            android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize|keyboardHidden|keyboard"
            android:launchMode="singleInstance"
            android:parentActivityName="fulguris.activity.MainActivity"
            android:process=":incognito"
            android:theme="@style/Theme.App.DayNight"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:scheme="file" />
                <data android:scheme="inline" />
                <data android:scheme="about" />
                <data android:scheme="javascript" />
                <data android:scheme="fulguris" />
                <data android:mimeType="text/html" />
                <data android:mimeType="text/plain" />
                <data android:mimeType="application/xhtml+xml" />
                <data android:mimeType="application/vnd.wap.xhtml+xml" />
                <data android:mimeType="application/x-webarchive-xml" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.WEB_SEARCH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.PROCESS_TEXT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>

            <intent-filter>
                <action android:name="info.guardianproject.panic.action.TRIGGER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
                <data android:mimeType="text/x-uri" />
            </intent-filter>
        </activity>

        <activity-alias
            android:name="fulguris.alias.default.BrowserActivity"
            android:targetActivity="fulguris.activity.MainActivity"
            android:exported="true"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:scheme="file" />
                <data android:scheme="inline" />
                <data android:scheme="about" />
                <data android:scheme="javascript" />
                <data android:scheme="fulguris" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name="fulguris.alias.default.IncognitoActivity"
            android:targetActivity="fulguris.activity.IncognitoActivity"
            android:exported="true"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:scheme="file" />
                <data android:scheme="inline" />
                <data android:scheme="about" />
                <data android:scheme="javascript" />
                <data android:scheme="fulguris" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name="fulguris.activity.SelectBrowserActivity"
            android:theme="@style/Theme.App.Transparent"
            android:exported="true"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:taskAffinity=""
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" />
                <data android:scheme="https" />
            </intent-filter>
        </activity>

        <activity
            android:name="fulguris.activity.SelectOtherBrowserActivity"
            android:theme="@style/Theme.App.Transparent"
            android:exported="false"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:taskAffinity=""
            android:launchMode="singleInstance" />

        <activity
            android:name="fulguris.activity.IntroActivity"
            android:theme="@style/Theme.App.Dark"
            android:exported="false" />

        <activity
            android:name="fulguris.activity.SettingsActivity"
            android:colorMode="wideColorGamut"
            android:resizeableActivity="true"
            android:label="@string/settings"
            android:parentActivityName="fulguris.activity.MainActivity"
            android:theme="@style/Theme.App.DayNight"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.APPLICATION_PREFERENCES" />
                <action android:name="android.intent.action.SETTINGS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="fulguris.activity.CodeEditorActivity"
            android:label="@string/pref_title_source_code"
            android:parentActivityName="fulguris.activity.SettingsActivity"
            android:theme="@style/Theme.App.DayNight"
            android:exported="false" />
            
        <activity
            android:name="fulguris.activity.ReadingActivity"
            android:colorMode="wideColorGamut"
            android:resizeableActivity="true"
            android:label="@string/reading_mode"
            android:theme="@style/Theme.App.DayNight"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.READING" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity android:name="fulguris.userscript.UserScriptActivity"
            android:label="Userscript"
            android:theme="@style/Theme.App.Light"
            android:resizeableActivity="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="*" />
                <data android:pathPattern=".*\\.user\\.js" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="file" />
                <data android:host="*" />
                <data android:pathPattern=".*\\.user\\.js" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="content" />
                <data android:mimeType="application/javascript" />
                <data android:mimeType="text/javascript" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <meta-data android:name="firebase_analytics_collection_enabled" android:value="@bool/pref_default_analytics" />
        <meta-data android:name="firebase_crashlytics_collection_enabled" android:value="@bool/pref_default_crash_report" />

    </application>

</manifest>
